{% extends "base.html" %}

{% block content %}
<form action="" method="post" class="auth-form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="text-light") }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="row align-items-start auth-buttons">
        {{ form.submit(type="submit", class="btn btn-primary col-md-4") }}
    </div>


    {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
    {% endif %}
</form>


{% endblock %}