{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h3 class="card-title h4">Обновление аниме</h3>
                    </div>

                    {% for anime in update_anime %}
                        <a href={{ url_for('anime', anime_id=anime.id) }}>
                            <div class="wrapper">
                                <div class="w_one"
                                     style="background: url({{ anime.poster_path }}) no-repeat center center; background-size: contain;"></div>
                                <div class="grid-container2">
                                    <div class="h5">{{ anime.title_ru }}</div>
                                    <div class="h6">{{ anime.title_jp }} / {{ anime.release_year }}</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h3 class="card-title h4">Новое на сайте</h3>
                    </div>
                    {% for anime in new_anime %}
                        <a href={{ url_for('anime', anime_id=anime.id) }}>
                            <div class="wrapper">
                                <div class="w_one"
                                     style="background: url({{ anime.poster_path }}) no-repeat center center; background-size: contain;"></div>
                                <div class="grid-container2">
                                    <div class="h5">{{ anime.title_ru }}</div>
                                    <div class="h6">{{ anime.title_jp }} / {{ anime.release_year }}</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}