{% extends "base.html" %}

{% block content %}
<form action="" method="post" class="auth-form">
    <h1 class="text-light">Вход</h1>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.email.label(class="text-light") }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <p>
        {{ form.password.label(class="text-light") }}<br>
        {{ form.password(class="form-control", type="password") }}
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.remember_me.label(class="text-light") }}<br>
        {{ form.remember_me(class="form-check-input") }}<br>
        {% for error in form.remember_me.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <div class="row align-items-start auth-buttons">
        {{ form.submit(type="submit", class="btn btn-primary col-md-4") }}
        <a class="btn btn-outline-primary col-md-4 offset-md-4" href="register" role="button">Регистрация</a>
    </div>


    {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
    {% endif %}
</form>
{% endblock %}